# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
data/*
!data/README.md
!data/**/README.md

.snakemake
slurm_logs/
*.out
*.err

/code/RNA/RNAseq-preprocessing/**/alignment/
/code/RNA/RNAseq-preprocessing/**/featurecounts/
/code/RNA/RNAseq-preprocessing/**/markdup/
/code/RNA/RNAseq-preprocessing/**/metrics/
/code/RNA/RNAseq-preprocessing/**/trimming/